*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
a
{
    text-decoration: none;
}
img{
    outline: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
p{
    margin: 0px;
}
.clearfix{
    clear: both;
}
.container{
    max-width: 1170px !important;
    margin: 0px auto;
}



/*** banner sec start ***/

.top_banner{
    width: auto;
    position: relative;
    overflow: hidden;
}
.top_bannr img{
    position: relative;
    width: 2100px;
    height: auto;
    vertical-align: bottom;
    left: 50%;
    margin: 0 0 0 -1050px;
}
.top_banner .logo_nav{
    padding-top: 30px;
    position: absolute;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.top_banner .logo_nav img.logo {
	width: auto;
	position: absolute;
	margin: 0px;
	left: auto;
}
#header .navMenu ul li a{
    color: #fff !important;
}
#header .navMenu ul li:hover a, #header .navMenu ul li.current-menu-item a{
    color: #fff !important;
}
.banner_cap {
	position: absolute;
	z-index: 90;
	width: 100%;
	top: 250px;
	padding-top: 0px;
}
.top_banner .banner_cap h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 0px auto;
    display: block;
    font-weight: 200;
    width: 80%;
    padding-bottom: 23px;
}

.top_banner .banner_cap h1 span.creating{
    font-weight: 600;
}
.top_banner .banner_cap h1 span.con{
    font-weight: 500;
}
.top_banner .banner_cap h1 span.around{
    font-weight: 200;
}
.top_banner .banner_cap p{
    font-size: 17px;
    font-weight: 200;
    text-align: center;
    color: #fff;
    width: 55%;
    margin: 0px auto;
    padding-bottom: 35px;
}
.top_banner .banner_cap a{
    margin: 0px auto;
    color: #fff;
    background-color: #ff9c00;
    text-align: center;
    border-radius: 50px;
    padding: 13px 26.4px;
    text-transform: uppercase;
    font-size: 18px;
    display: table;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*** banner sec start ***/

/*** blockchain sec start ***/

.blockchain{
    padding-top: 75px;
}
.blockchain h2{
    font-size: 36px;
    color: #626262;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Architects Daughter', cursive;
}
.blockchain .blockchain_pic{
    width: auto;
    overflow: hidden;
}
.blockchain .blockchain_pic img{
    width: auto;
}
.blockchain p{
    font-size: 17px;
    color: #737373;
    font-weight: 200;
    padding-top: 30px;
    padding-bottom: 45px;
    padding-left: 130px;
}
.blockchain a{
    float: left;
    color: #fff;
    background-color: #ff4842;
    text-align: center;
    border-radius: 50px;
    padding: 13.5px 26.4px;
    text-transform: uppercase;
    font-size: 18px;
    display: table;
    text-decoration: none;
    margin-left: 130px;
    font-family: 'Poppins', sans-serif;
}
/*** blockchain sec end ***/

/*** brunch sec start ***/

.brunch{
    width: auto;
    padding-top: 170px;
}
.brunch h2{
    font-size: 36px;
    color: #626262;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Architects Daughter', cursive;
    padding-bottom: 70px;
}
.brunch .san{
    margin-bottom: 30px;
}
.brunch .san_die{
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 245px;
}
.brunch .overlay_bg {
	margin: 25px;
	background-color: rgba(255,156,0,0.5);
	width: 79.7%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 15px;
	right: 0px;
	cursor: pointer;
	background-image: url(../images/bg_overlay.png);
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: left;
}
.brunch .overlay_bg h4{
    font-size: 36px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-transform: capitalize;
    font-family: 'Architects Daughter', cursive;
}
.brunch .overlay_bg:hover{
    background-color: rgba(253,25,2,0.5);
}
.brunch p{
    font-size: 18px;
    color: #737373;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
.brunch p span{
    color: #fd1902;
    font-weight: 600;
}
.brunch p span.hub{
    font-weight: 100;
}
/*** brunch sec end ***/

/*** blog sec start ***/

.blog{
    width: auto;
    background-image: url(../images/blog_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 676px;
    padding: 80px 0;
}
.blog h2{
    font-size: 36px;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Architects Daughter', cursive;
}
.blog p{
    font-size: 17px;
    color: #fff;
    font-weight: 200;
    text-align: center;
    margin: 0px auto;
    width: 70%;
    padding-bottom: 45px;
}
.blog .blog_box{
    border-radius: 10px;

}
.blog .blog_box img {
	width: 100%;
	height: 170px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.blog .blog_box h5{
    font-size: 18px;
    color: #555555;
    padding: 0 15px;
    font-weight: 500;
    max-height: 70px;
    padding-bottom: 22px;
    display: table;
    background-color: #fff;
    padding-top: 15px;
}
.blog .blog_box p{
    font-size: 15px;
    color: #747474;
    font-weight: 300;
    padding: 0 15px;
    padding-bottom: 22px;
    text-align: left;
    width: auto;
    background-color: #fff;
}
.blog .blog_box p a{
    color: #2e61c4;
    font-size: 15px;
    text-decoration: none;
}

/*** blog sec end ***/

/*** press sec start ***/

.press{
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}
.press img.press_bg {
	position: absolute;
	margin-left: 800px;
	overflow: hidden;
	width: 315px;
	height: 500px;
	left: 22%;
	opacity: 0.2;
}
.press h2{
    font-size: 36px;
    color: #626262;
    text-align: center;
    padding-bottom: 80px;
    font-family: 'Architects Daughter', cursive;
}
.press .press_pic{
    padding-left: 100px;
}
.press .press_pic img{
    width: 100%;
    height: 365px;
}
.press p.date{
    padding-top: 20px;
    font-size: 17px;
    color: #ff4842;
    font-weight: 200;
    padding-bottom: 30px;
}
.press h4{
    font-size: 36px;
    color: #626262;
    padding-bottom: 15px;
    font-family: 'Architects Daughter', cursive;
    width: 82%;
}
.press p{
    color: #8f8f8f;
    font-size: 17px;
    font-weight: 200;
    padding-bottom: 35px;
    width: 80%;
}
.press a {
	color: #fff;
	background-color: #ff4842;
	text-align: center;
	border-radius: 50px;
	padding: 13.5px 26.4px;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*** press sec end ***/

/*** our partners sec start ***/

.partners{
    padding-top: 125px;
}
.partners h2{
    font-size: 36px;
    color: #626262;
    text-align: center;
    padding-bottom: 70px;
    font-family: 'Architects Daughter', cursive;
    margin: 0px auto;
}
.partners img{
    text-align: center;
    width: auto;
}
.partners p{
    padding: 58px 0;
    color: #737373;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}
.partners p span{
    color: #fd1902;
    font-weight: 700;
}
/*** our partners sec end ***/

/*** footer sec start ***/

footer{
    width: auto;
    background-image: url(../images/footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 85px;
    overflow: hidden;
}
footer h4{
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 30px;
}
footer p{
    font-size: 15px;
    font-weight: 200;
    padding-top: 30px;
    padding-bottom: 18px;
    color: #fff;
}
a.read_more{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
    text-decoration: none;
}
footer .social{
    width: 100%;
}
footer .social ul li{
    float: left;
    margin-right: 15px;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: 2px solid #fff;
}
footer .social ul li a i{
    padding: 8px 12px;
}
footer .social ul li a i.google_plus{
    padding: 8px 6px;
}
footer .social ul li a i.inst{
    padding: 8px 9px;
}
footer ul li a{
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 5px;
    display: block;
    text-decoration: none !important;
}
footer ul li:last-child a{
    padding-bottom: 0px;
}
footer input[type="text"]{
    background-color: #fff;
    border-radius: 30px;
    width: 252px;
    padding: 11px 10px;;
    font-size: 12px;
    color: #b6b6b6;
    text-transform: capitalize;
    border: 0px;
    margin-bottom: 10px;
}
footer input[type="email"]{
    background-color: #fff;
    border-radius: 30px;
    width: 252px;
    padding: 11px 10px;;
    font-size: 12px;
    color: #b6b6b6;
    text-transform: capitalize;
    border: 0px;
    margin-bottom: 10px;
}
footer textarea{
    width: 252px;
    padding: 15px 0 0 15px;
    background-color: #fff;
    border-radius: 30px;
    border: 0px;
    text-transform: capitalize;
    color: #b6b6b6;
    font-size: 12px;
    height: 55px;
    margin-bottom: 15px;
}
footer input[type="submit"]{
    color: #fff;
	background-color: #ff9c00;
	text-align: center;
	border-radius: 50px;
	padding: 3px 21.5px;
	text-transform: uppercase;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
    border: 0px;
}
footer p.copyright{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    padding-bottom: 30px;
}
/*** footer sec end ***/